@import "utf-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
  width: 100%;
  height: fit-content;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.header_contents {
  width: 1600px;
  height: 80px;
  margin: 0 auto;
  display: flex;
}

h1 {
  padding: 21px 0;
}

/* 1차 메뉴 */
#gnb {
  width: fit-content;
  line-height: 40px;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  text-align: center;
}

#gnb > ul > li {
  width: fit-content;
  height: fit-content;
  position: relative;
}
#gnb > ul > li > a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  color: #616060;
  font-size: 16px;
  line-height: 80px;
}

#gnb > ul > li:hover > a {
  color: var(--main-color);
  font-weight: 600;
}

/* 2차 메뉴 */
.submenu {
  gap: 40px;
  display: none;
  position: absolute;
  z-index: 100;
  /* top: 100%; */
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
}

/* hover하면 서브메뉴 글자색상 변경 */
.submenu li:hover a {
  color: var(--main-color);
  font-weight: 600;
}

/* 서브메뉴에 hover하면 밑줄 */
.submenu li a {
  position: relative;
  display: block;
}

.submenu li a::after {
  display: block;
  content: "line";
  font-size: 0px;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.submenu li a:hover:after {
  transform: scaleX(1);
}
/* 1차메뉴에 hover하면 2차메뉴 나오기 */
#gnb:hover::after {
  height: 55px;
  border-top: 1px solid rgba(159, 158, 158, 0.3);
}

#gnb::after {
  content: "";
  background-color: transparent;
  width: 100%;
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #fff;
}

.submenu > li {
  width: max-content;
  text-align: left;
}
#gnb > ul > li:hover .submenu {
  display: flex;
}

/* 아이콘 */
.icons {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

main {
  width: 100%;
  height: 100%;
}

/* 메인비주얼 - sec1 🌞 */
.sec1 {
  width: 100%;
  padding-top: 80px;
}
/* 메인비주얼 */
.main-visual {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  background: url(../img/trip_mate/main/main.jpg) center/cover no-repeat;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 auto;
}
.main-visual .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.main-visual h1 {
  font-size: 36px;
}
.main-visual p {
  font-size: 18px;
  margin-top: 10px;
}
/* 🌞🌞섹션2 */
.sec2 {
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid rgba(189, 188, 188, 0.3);
}
.sec2_contents {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  max-width: 1200px;
}

/* sec2 메인 */
.sec2_main {
  display: flex;
  width: 100%;
  padding: 120px 0;
}

/* sec2 이미지 */
.left_img img {
  width: 600px;
  height: 380px;
  border-radius: 15px;
  transition: opacity 0.3s ease-in-out;
}

/* sec2 텍스트 */
.right_text {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-left: 50px;
}

/* 리뷰섹션 */
.sec2_button {
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  line-height: var(--xs-line-height);
  font-weight: 700;
  color: var(--main-color);
  border-radius: 17px;
  border: 1px solid var(--main-color);
  padding: 3px 24px;
  margin-bottom: 5px;
}
.review_card span {
  display: block;
  color: var(--main-color);
  font-size: 20px;
  line-height: var(--sm-line-height);
  margin-bottom: 20px;
}

.review_card h3 {
  font-size: 22px;
  line-height: var(--sm-line-height);
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--default-bk);
}
.review_card p {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 60px;
}
.review_card_content {
  padding: 10px;
}
/* 페이지 버튼 */
.page_button {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
}

.page_button a {
  font-size: 16px;
  line-height: var(--xs-line-height);
  color: #d9d9d9;
  position: relative;
  text-decoration: none;
  padding: 2px 9px;
  border-radius: 50%;
  transition: 0.3s;
}

/* 선택된 페이지 버튼 스타일 */
.page_button a.active {
  background-color: #ff7f00;
  color: white;
  font-weight: 700;
}

/* 리뷰 카드 */
.review_card {
  display: none;
}

.review_card.active {
  display: block;
}

/* 버튼 */
.more {
  align-items: center;
  justify-content: space-between;
  width: 170px;
  padding: 12px 38px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: var(--xs-line-height);
  border-radius: 10px;
}
.more:hover {
  color: var(--default-wh);
  background-color: var(--main-color);
  transition: 0.3s;
}
.more_section {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: end;
  justify-content: end;
}

.right_text .more {
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* 🌞🌞🌞섹션3 */
.sec3 {
  width: 100%;
  height: fit-content;
  padding: 60px 0;
}
.sec3_contents {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto;
}

/* 섹션3 메뉴 */
.sec3 ul {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #575757cc;
  padding: 60px 0px;
  cursor: pointer;
}

.sec3 li {
  color: #b1b1b1;
  cursor: pointer;
  width: calc(100% / 6);
  padding: 15px;
  text-align: center;
  border: 1px solid #cccc;
  font-size: 14px;
}

.sec3 li.active {
  color: var(--default-bk);
  font-weight: 600;
  border: 1px solid black;
}

.content.active {
  display: block;
}

.content {
  display: none;
}

/* 서치바 */
.search {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: fit-content;
  padding: 25px 10px;
  position: relative;
  gap: 10px;
  box-sizing: border-box;
}

#search_bar,
select {
  width: 20%;
  height: 30px;
  padding: 0 20px;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid rgba(189, 188, 188, 0.8);
}
.search select {
  width: 8%;
  padding: 0px;
}
#tag_btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 1144px;
  cursor: pointer;
}

/* 리뷰섹션 */
.review_wrap {
  width: 1200px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.sec3_review {
  width: calc(100% / 3 - 35px);
  height: 683px;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 0px;
}
.review_img img {
  width: 100%;
  height: 385px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.sec3_review h3 {
  color: var(--default-bk);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sec3_review p {
  font-size: 13px;
  line-height: var(--xs-line-height);
  margin-top: 8px;
  color: var(--default-gr);
}

#review_content {
  display: block;
  height: 130px;
}

.review_icons {
  display: flex;
  gap: 10px;
  height: fit-content;
  align-items: center;
  text-align: center;
}
