@import "utf-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1;
  background-color: blanchedalmond;
  width: 100%;
  height: fit-content;
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.header_contents {
  width: 1600px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  /* gap: 100px; */
}

h1 {
  padding: 21px 0;
}

/* 1차 메뉴 */
#menu {
  width: fit-content;
  line-height: 40px;
}
#menu > ul {
  width: fit-content;
  display: flex;
  text-align: center;
}

#menu > ul > li {
  width: fit-content;
  height: fit-content;
  position: relative;
}
#menu > ul > li > a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  color: #616060;
  font-size: 16px;
  line-height: 80px;
}

#menu > ul > li:hover > a {
  color: var(--main-color);
  font-weight: 600;
}

/* 2차 메뉴 */
.submenu {
  /* width: fit-content;
  height: fit-content; */
  gap: 40px;
  display: none;
  position: absolute;
  z-index: 100;
  /* top: 100%; */
  left: 50%;
  transform: translateX(-50%);
  line-height: 50px;
}

/* hover하면 서브메뉴 글자색상 변경 */
.submenu li:hover a {
  color: var(--main-color);
  font-weight: 600;
}

/* 서브메뉴에 hover하면 밑줄 */
.submenu li a {
  position: relative;
  display: block;
}

.submenu li a::after {
  display: block;
  content: "line";
  font-size: 0px;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.submenu li a:hover:after {
  transform: scaleX(1);
}
/* 1차메뉴에 hover하면 2차메뉴 나오기 */
#menu:hover::after {
  height: 55px;
  border-top: 1px solid rgba(159, 158, 158, 0.3);
}

#menu::after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 100%;
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #fff;
}

.submenu > li {
  width: max-content;
  text-align: left;
}
#menu > ul > li:hover .submenu {
  display: flex;
}

/* 아이콘 */
.icons {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

main {
  width: 100%;
  height: 100%;
}
/* 메인비주얼 */
.main_visual {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.main_visual > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 공통설정 */
section {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  padding: 120px 0;
}
/* 섹션 2,3 타이틀 */
.sec_title {
  margin-bottom: 60px;
}

.sec_title h2 {
  color: var(--main-color);
  font-size: var(--md-font-size);
  font-weight: 600;
  line-height: var(--lg-line-height);
}
.sec_title h3 {
  font-size: var(--xl-font-size);
  font-weight: 600;
  line-height: var(--lg-line-height);
}

.sec_title p,
.sec_title2 p {
  font-size: var(--sm-font-size);
  line-height: var(--xs-line-height);
  color: var(--default-gr);
}

/* 섹션4,5 타이틀 */
.sec_title2 {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  align-items: center;
}
.sec_title2 h2 {
  font-size: var(--xl-font-size);
  font-weight: 800;
  line-height: 72px;
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
.sec_title2 h3 {
  font-size: 20px;
  font-weight: 800;
  background-color: aqua;
}

.sec_title2 p {
  text-align: center;
}

/* 🌞섹션1  */
.sec1 {
  box-sizing: border-box;
  padding: 120px 100px;
  overflow: hidden;
}
.sec1_contents {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 100px;
}
/* sec1_left_text영역 */
.sec1_left_text {
  display: flex;
  align-items: center;
  width: 456px;
}
/* Best 여행 일정 및 루트 */
.sec1 .text_box h4 {
  color: var(--main-color);
  font-size: var(--sm-font-size);
  font-weight: 700;
  margin-bottom: 20px;
}
/* sec1-title */
.sec1 .text_box h2 {
  color: var(--default-blk);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 70px;
}
/* sec1-subtitle */
.sec1 .text_box p {
  color: var(--default-gr);
  font-size: var(--md-font-size);
  margin-bottom: 73px;
}
/* 버튼 */
.more {
  align-items: center;
  justify-content: space-between;
  width: 170px;
  padding: 12px 38px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: var(--xs-line-height);
  border-radius: 10px;
}
.more:hover {
  color: var(--default-wh);
  background-color: var(--main-color);
  transition: 0.3s;
}
/* 카드 */
.card {
  width: 100%;
  height: fit-content;
}

.slide_img_wrap {
  display: flex;
  overflow: hidden;
  gap: 50px;
}

/* 이미지 영역 */
.img_area {
  width: 334px;
  height: 470px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  transform: scale(0.93);
  transition: transform 0.3s ease-in-out;
}

.img_area:hover {
  transform: scaleX(1);
}
.img_area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_area .sydney_img {
  object-position: -295px;
}
.text_wrap {
  padding: 10px;
}

.text_wrap h4 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: var(--sm-line-height);
}
.text_wrap h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 32px;
}

.bottom_text span {
  color: var(--default-gr);
  font-size: 16px;
  font-weight: 500;
  line-height: var(--xs-line-height);
}
/*🎀베너1 */
.banner1 {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  padding: 120px 0;
  display: flex;
  justify-content: center;
}
.banner1_img {
  width: 1200px;
  height: 200px;
  background-image: url(/img/banner1/banner1_content.png);
  background-repeat: no-repeat;
  padding: 0 175px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
/* 베너1 텍스트 */
.banner1_textbox {
  color: var(--default-wh);
}
.banner1_botton {
  width: fit-content;
  font-size: 12px;
  color: var(--default-wh);
  background-color: var(--default-gr);
  padding: 5px 20px;
  border-radius: 10px;
  line-height: 17px;
  align-items: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.banner1 h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: var(--xs-line-height);
  margin-bottom: 20px;
}

.banner1 h3 span {
  font-size: 25px;
  font-weight: 800;
}

.banner1 p {
  font-size: 12px;
  line-height: 38px;
}
/* 🌞🌞sec2 */
.sec2 {
  background-color: #f7f7f7;
}
.sec2_contents {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.sec2 .sec2_contents .sec2_img {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 15px;
}

/* 혼자여행 */
.sec2_img .solo_trip {
  width: 390px;
  height: 480px;
  background-image: url(/img/sec2/img1.png);
  background-repeat: no-repeat;
  color: var(--default-wh);
  display: flex;
  align-items: end;
  padding: 20px;
  box-sizing: border-box;
  transform: scale(0.95);
  transition: 0.3s;
  filter: brightness(80%);
}

.sec2_img .solo_trip:hover {
  transform: scale(1);
  filter: brightness(100%);
}

.sec2_img2 {
  width: 795px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* 작은이미지 박스들 */

.sec2_img2 div {
  width: 390px;
  height: 232.5px;
  color: var(--default-wh);
  display: flex;
  align-items: end;
  padding: 20px;
  box-sizing: border-box;
  transform: scale(0.95);
  transition: 0.3s;
  filter: brightness(80%);
}

/* 효도여행 */
.sec2_img2 a:first-child div {
  background-image: url(/img/sec2/효도여행.png);
  background-repeat: no-repeat;
}
/* 가족여행 */
.sec2_img2 a:nth-child(2) div {
  background-image: url(/img/sec2/가족여행.png);
  background-repeat: no-repeat;
}
/* 저예산 */
.sec2_img2 a:nth-child(3) div {
  background-image: url(/img/sec2/저예산.png);
  background-repeat: no-repeat;
}
/* 미식여행 */
.sec2_img2 a:nth-child(4) div {
  background-image: url(/img/sec2/미식여행.png);
  background-repeat: no-repeat;
}

.sec2_img2 a:hover div {
  transform: scale(1);
  filter: brightness(100%);
}

/* 🌞🌞🌞섹션3 */

.sec3_contents {
  width: 1200px;
  height: fit-content;
  margin: 0 auto;
}

/* sec3 메인 */
.sec3_main {
  display: flex;
  width: 100%;
}
/* sec3 이미지 */
.left_img img {
  width: 600px;
  height: 380px;
  border-radius: 15px;
}
/* sec3 텍스트 */
.right_text {
  width: 100%;
  height: 380px;
  overflow: hidden;
  margin-left: 50px;
}
/* 페이지 버튼 */
.page_button {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
}

.page_button a {
  font-size: 16px;
  line-height: var(--xs-line-height);
  color: #d9d9d9;
}
/* 리뷰섹션 */
.sec3_button {
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  line-height: var(--xs-line-height);
  font-weight: 700;
  color: var(--main-color);
  border-radius: 17px;
  border: 1px solid var(--main-color);
  padding: 3px 24px;
}
.rivew1 span {
  color: var(--main-color);
  font-size: 20px;
  line-height: var(--sm-line-height);
  margin-bottom: 5px;
}
.rivew1 h3 {
  font-size: 22px;
  line-height: var(--sm-line-height);
  font-weight: 700;
  margin-bottom: 30px;
}
.rivew1 p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 30px;
}

/* 더보기 버튼 */
.more_section {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.right_text .more {
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* 🌞🌞🌞🌞섹션4 */
.sec4_contents {
  width: 100%;
  background-color: aquamarine;
  overflow: hidden;
}
/* 카드 */
.slide {
  width: 100%;
  height: 265px;
  position: relative;
  margin-top: 80px;
}
.slid_card_wrap,
.slid_card_wrap2 {
  position: absolute;
  top: 0;
  display: flex;
  gap: 40px;
  width: max-content;
  overflow: hidden;
}

/* 첫 번째 슬라이드 */
.slid_card_wrap {
  animation: slide 20s linear infinite;
}

/* 두 번째 슬라이드 */
.slid_card_wrap2 {
  animation: slide2 20s linear infinite;
  transform: translateX(100%);
}

/* 첫 번째 카드 슬라이드 애니메이션 */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* 두 번째 카드 슬라이드 애니메이션 */
@keyframes slide2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* .slid_card_wrap {
  position: absolute;
  top: 0;
  display: flex;
  gap: 40px;
  animation: slide 20s linear infinite;
  width: max-content;
}
.slid_card_wrap2 {
  position: absolute;
  top: 0;
  display: flex;
  gap: 40px;
  animation: slide 20s linear infinite;
  width: max-content;
  margin-left: 40px;
  transform: translateX(100%);
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} */

.sec4_card {
  width: 500px;
  height: fit-content;
  padding: 35px 50px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background-color: #fff;
  box-sizing: border-box;
  /* flex: 0 0 auto; */
}
/* 섹션4 카드 top */
.card_top {
  width: 100%;
  display: flex;
  gap: 35px;
}
.sec4 {
  background-color: #f7f7f7;
}
.sec4_main_txt h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.sec4_main_txt p {
  font-size: var(--xs-font-size);
  color: #7b7a7a;
}
.sec4_main_img img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
}
/* 섹션4 카드 middle */
.card_mid {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}
.user_info {
  font-size: 10px;
  line-height: var(--xs-line-height);
  color: var(--default-gr);
  display: flex;
  gap: 6px;
}
.user_info img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  border-radius: 25px;
}

.date {
  font-size: 10px;
  line-height: var(--xs-line-height);
  font-weight: 700;
}
.sec4_icon {
  width: fit-content;
  display: flex;
  gap: 10px;
}

.sec4_icon span {
  font-size: 10px;
}
/* 섹션4 카드 바텀 칩들 */
.sec4_bottom {
  display: flex;
  margin-top: 10px;
  gap: 8px;
}

.sec4_bottom div {
  width: fit-content;
  height: fit-content;
  padding: 2px 20px;
  font-size: 10px;
  line-height: var(--xs-line-height);
  background-color: #f5f4f4;
  border-radius: 8px;
}
