@charset "utf-8";
@import url(../css/layout.css);

/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  #gnb {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .header_contents {
    width: 100%;
    padding: 0 10px;
  }

  #menu-container > .menu-list {
    width: 80vw;
  }

  .menu-submenu li {
    font-size: 14px;
    padding-right: 3px;
  }

  /* 메인비주얼 */

  .main_visual {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  section {
    padding: 50px 0;
    background-color: #fff;
  }

  /* sec1 */

  /* text */
  .sec1 {
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
  }
  .sec1_left_text {
    width: 90%;
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .sec1 .text_box h4,
  .sec1 .text_box p,
  .pc_title,
  .pc_more,
  br {
    display: none;
  }

  .mobile_title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  /* 슬라이더 */
  .slide_wrap {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
  }

  .card {
    margin-right: 12px;
    margin-left: 15px;
  }

  .img_area {
    width: 288px;
    height: 200px;
  }

  .mobile_more {
    display: block;
    margin-top: 30px;
    padding: 12px 15px;
    box-sizing: border-box;
  }

  /* 섹션2 */

  /* 섹션 2,3 타이틀 */
  .sec_title {
    margin-bottom: 0px;
    width: 100%;
  }

  .sec_title h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: var(--sm-line-height);
  }
  .sec_title h3 {
    font-size: 18px;
    line-height: 20px;
  }

  /* sec2 이미지 */

  .sec2_contents {
    width: 90%;
    margin: 0 auto;
  }

  .sec2_img {
    gap: 0px;
  }

  .sec2_img2 {
    width: 100%;
    height: fit-content;
    gap: 10px;
  }

  /* 작은이미지 박스들 */

  .sec2_card {
    width: calc((100% - 10px) / 2);
    height: 100px;
    overflow: hidden;
  }

  .sec2_card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(78%);
    scale: 0.99;
    transition: 0.3s;
  }

  .sec2_card p {
    color: var(--default-wh);
    position: absolute;
    font-size: 14px;
    top: 50%; /* 세로 중앙 */
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확하게 가운데 정렬 */
    text-align: center;
  }
  /* 혼자여행 */
  .solo_trip {
    display: none;
  }

  /* ============ sec3 ========== */

  .sec3 {
    padding-bottom: 50px;
  }
  /* sec3 메인 */
  .sec3_contents {
    width: 90%;
  }

  .left_img {
    width: 100%;
  }

  .sec3_main {
    flex-direction: column;
    gap: 20px;
  }

  /* sec3 이미지 */
  .left_img img {
    width: 100%;
    height: 240px;
    border-radius: 15px 15px 0px 0px;
  }

  /* sec3 텍스트 */
  .right_text {
    width: 100%;
    height: fit-content;
    margin-left: 5px;
  }

  /* 리뷰섹션 */
  .sec3_button {
    font-size: 12px;
    line-height: 10px;
    padding: 5px 5px;
    margin-bottom: 10px;
  }
  .review_card span {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .review_card h3 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .review_card p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 11px;
  }
  /* 페이지 버튼 */

  .page_button {
    margin-bottom: 20px;
  }

  .page_button a {
    font-size: 11px;
    line-height: 15px;
    padding: 2px 6px;
  }

  /* 버튼 */

  .right_text .more {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0 auto;
    display: none;
  }

  p .sec3_rs_content {
    display: none;
  }

  /* =========================베너1 */

  .banner1 {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    padding: 0 0;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 50px;
  }
  .banner1_img {
    width: 100%;
    height: 100%;
    background-position: bottom;
    padding: 0px;
    border-radius: 12px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* 베너1 텍스트 */
  .banner1_textbox {
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .banner1_button {
    display: none;
  }

  .banner1 br {
    display: block;
  }

  .banner1 h3 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  .banner1 span {
    font-size: 14px;
  }

  /* ==========================섹션4 */

  /* 섹션4,5 타이틀 */

  .sec_title2 h2 {
    font-size: 18px;
  }
  .sec_title2 h3 {
    display: none;
  }

  .sec4_contents {
    width: 90%;
    overflow: hidden;
  }

  .sec4_card_wrap {
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }
  /* 섹션4 카드 */
  .sec4_card {
    width: calc((100% - 15px) / 2);
    height: 300px;
    overflow: hidden;
  }

  .sec4_card img {
    height: 150px;
  }

  /* 카드1 설정 */

  .sec4_card:first-child::after {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px 7px;
    top: 50%; /* 세로 중앙 */
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -350%); /* 정확하게 가운데 정렬 */
    text-align: center;
  }

  /* 섹션4 카드 텍스트 */

  .sec4_card_txt h3 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .txt_button {
    display: none;
  }

  .sec4_card_txt p {
    display: none;
  }
  .user {
    align-items: center;
    font-size: 12px;
  }
  .sec4_card_txt .user_info {
    align-items: center;
    font-size: 12px;
    flex-direction: column;
  }

  .user_info img {
    width: 14px;
    height: 14px;
  }

  /* ==================섹션5 */

  .sec5 > .sec_title2 {
    width: 90%;
  }
  .sec5 {
    height: fit-content;
    background-color: #ffffff;
  }

  .sec5_contents {
    width: 90%;
    margin: 0 auto;
  }
  /* 카드 */

  .sec5_card {
    width: 300px;
    height: fit-content;
    padding: 30px 20px;
  }
  /* 섹션5 카드 top */
  .card_top {
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .sec5_main_txt h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .sec5_main_txt p {
    font-size: 12px;
    color: #7b7a7a;
    margin-top: 0px;
    line-height: 18px;
  }
  .sec5_main_img img {
    width: 200px;
  }
  /* 섹션5 카드 middle */
  .card_mid {
    margin-top: 40px;
    gap: 5px;
    overflow: hidden;
    width: 100%;
  }
  .sec5 .card_mid > .user_info {
    font-size: 12px;
    line-height: 18px;
    color: var(--default-gr);
    display: flex;
    gap: 3px;
    align-items: center;
  }

  .sec5_icon {
    display: none;
  }

  /* 섹션5 카드 바텀 칩들 */
  .sec5_bottom {
    justify-content: space-between;
    margin-top: 15px;
  }

  .sec5_bottom div {
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    font-size: 12px;
    line-height: var(--xs-line-height);
    background-color: #f5f4f4;
    border-radius: 8px;
  }
  .date {
    font-size: 12px;
  }

  #slider-div {
    display: flex;
  }

  .slide_wrap2 {
    width: 100%;
    background-color: #fff;
  }

  #sec5_slider-div > div {
    height: 400px;
  }
  /* 🦶푸터 */
  footer {
    width: 90%;
    height: fit-content;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    padding: 20px 0px;
    font-size: 15px;
    color: var(--default-gr);
    margin: 0 auto;
    border-top: none;
  }

  footer img {
    height: 30px;
    opacity: 80%;
  }
  footer ul {
    display: flex;
    gap: 10px;
    font-size: 11px;
    flex-wrap: wrap;
  }
  footer span {
    font-size: 10px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  #menu-container > .menu-list {
    width: 75vw;
  }

  .menu-submenu li {
    font-size: 16px;
    padding-right: 5px;
  }
  .sec2_card {
    width: calc((100% - 10px) / 2);
    height: 150px;
    overflow: hidden;
  }
  .sec2_card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(78%);
    scale: 0.99;
    transition: 0.3s;
  }

  .sec2_card p {
    margin: 0; /* 여백을 제거하여 정확한 가운데 정렬 */
    width: 100%;
    height: fit-content;
  }

  /* 섹션3 */
  .left_img img:not(:first-child) {
    object-position: 0px -389px;
    object-fit: cover;
  }
  .left_img img:first-child {
    object-position: bottom;
    object-fit: cover;
  }

  p .sec3_rs_content {
    display: none;
  }

  /* 베너*/

  .banner1 {
    height: fit-content;
  }

  .banner1_img {
    width: 100%;
    height: 150px;
    padding: 0px 80px;
    border-radius: 12px;
    align-items: baseline;
    justify-content: center;
  }

  .banner1_button {
    display: block;
    background-color: rgba(134, 134, 134, 0.5);
  }

  .banner1 h3 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .banner1 span {
    font-size: 16px;
  }

  /* 섹션4 */
  .sec4_card > img {
    height: 200px;
    margin-bottom: 15px;
  }
  .sec4_card {
    height: fit-content;
  }

  .sec4_card:first-child::after {
    font-size: 14px;
    padding: 10px 15px;
    transform: translate(-50%, -250%);
  }
  .sec4_card_txt h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/* laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #mobile_menu {
    display: none;
  }
  .header_contents {
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
  }

  /* 1차 메뉴 */

  #gnb > ul {
    height: 80px;
    gap: 15px;
  }

  #gnb > ul > li > a {
    padding: 0 10px;
  }

  /* 아이콘 */
  .icons {
    margin-left: 0px;
  }

  /* ==========섹션1 ===========*/

  /* text */
  .sec1 {
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    padding: 100px 0;
  }

  .pc_more,
  .sec1 br {
    display: none;
  }

  .sec1 .text_box h4 {
    font-weight: 600;
    margin-bottom: 15px;
  }
  .sec1 .text_box p {
    font-size: var(--sm-font-size);
    line-height: var(--xs-line-height);
    margin-bottom: 50px;
  }

  .sec1 .text_box h3 {
    margin-bottom: 15px;
  }

  .sec1_left_text {
    width: 100%;
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }

  /* 슬라이더 */
  .slide_wrap {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
  }

  .card {
    margin-right: 15px;
    margin-left: 15px;
  }

  .img_area {
    width: 288px;
    height: 380px;
  }

  .mobile_more {
    display: block;
    margin-top: 30px;
    padding: 12px 15px;
    box-sizing: border-box;
  }
  .slick-dots {
    bottom: -20px;
    margin: 0 auto;
  }

  /* =========섹션2========= */

  /* 섹션 2,3 타이틀 */

  .sec_title h2,
  .sec1 .text_box h4 {
    color: var(--main-color);
    font-size: var(--md-font-size);
    font-weight: 600;
    line-height: var(--sm-line-height);
  }
  .sec_title h3,
  .sec1 .text_box h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: var(--lg-line-height);
    letter-spacing: -1px;
  }

  .sec2 {
    padding: 100px 0;
    width: 100%;
  }
  .sec2_contents {
    width: 90%;
  }

  .sec2_img2 {
    width: calc((100% / 3) * 2);
  }

  /* 작은이미지 박스들 */

  .sec2_card {
    width: calc((100% - 15px) / 2);
  }

  .sec2_card > img {
    border-radius: 24px;
  }

  .sec2_card p {
    bottom: 20px; /* 세로 중앙 */
    left: 10%; /* 가로 중앙 */
    right: 10%;
    text-align: center;
  }

  /* 혼자여행 */
  .solo_trip {
    width: calc(100% / 3);
  }

  /* =========섹션3======== */
  .sec3 {
    padding: 100px 0;
  }
  /* sec3 메인 */
  .sec3_contents {
    width: 90%;
  }

  p .sec3_rs_content {
    display: block;
  }

  .left_img {
    width: 100%;
  }

  .sec3_main {
    flex-direction: column;
    gap: 20px;
  }

  /* sec3 이미지 */
  .left_img img {
    width: 100%;
    height: 320px;
    border-radius: 15px 15px 0px 0px;
  }

  .left_img img:not(:first-child) {
    object-position: 0px -540px;
    object-fit: cover;
  }
  .left_img img:first-child {
    object-position: bottom;
    object-fit: cover;
  }

  /* sec3 텍스트 */
  .right_text {
    width: 100%;
    height: fit-content;
    margin-left: 5px;
  }

  /* 리뷰섹션 */

  .sec3_button {
    font-size: 12px;
    line-height: 10px;
    padding: 8px 12px;
    margin-bottom: 10px;
  }
  .review_card span {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .review_card h3 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .review_card p,
  p .sec3_rs_content {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 11px;
    color: var(--default-bk);
  }
  /* 페이지 버튼 */

  .page_button {
    margin-bottom: 20px;
  }

  .page_button a {
    font-size: 14px;
    line-height: 15px;
    padding: 2px 6px;
  }

  /* 버튼 */

  .right_text .more {
    font-size: 16px;
    padding: 8px 20px;
    margin: 0 auto;
    margin-top: 50px;
    /* display: none; */
  }

  /* ======베너====== */

  .banner1 {
    width: 90%;
    padding: 0 0 100px 0;
    margin: 0 auto;
  }
  .banner1_img {
    width: 100%;
    height: 180px;
    padding: 0 80px;
  }

  .banner1 h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .banner1 span {
    font-size: 23px;
  }

  /* ================섹션4=================== */
  .sec4 {
    width: 100%;
  }
  .sec4_contents {
    width: 90%;
  }

  .sec4_card_wrap {
    gap: 15px;
    flex-wrap: wrap;
  }
  /* 섹션4 카드 */
  .sec4_card {
    width: calc((100% - 15px) / 2);
  }

  /* 섹션4 카드 텍스트 */
  .sec4_card_txt {
    padding: 10px 15px;
  }

  .user {
    gap: 10px;
    align-items: center;
  }

  .user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .sec4_card_txt .user_info {
    font-size: 14px;
    align-items: center;
  }

  /* 🦶푸터 */
  footer {
    width: 90%;
    height: fit-content;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    padding: 20px 0px;
    font-size: 15px;
    color: var(--default-gr);
    margin: 0 auto;
    border-top: none;
  }

  footer img {
    height: 30px;
    opacity: 80%;
  }
  footer ul {
    display: flex;
    gap: 10px;
    font-size: 11px;
    flex-wrap: wrap;
  }
  footer span {
    font-size: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  #mobile_menu {
    display: none;
  }
  .header_contents {
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
  }

  /* 1차 메뉴 */

  #gnb > ul {
    height: 80px;
    gap: 15px;
  }

  #gnb > ul > li > a {
    padding: 0 10px;
  }

  /* 아이콘 */
  .icons {
    margin-left: 0px;
  }

  /* =================sec1============= */
  /* text */

  /* 섹션 1,2,3 타이틀 */

  .sec_title h2,
  .sec1 .text_box h4 {
    color: var(--main-color);
    font-size: var(--md-font-size);
    font-weight: 700;
    line-height: var(--sm-line-height);
  }
  .sec_title h3,
  .sec1 .text_box h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: var(--lg-line-height);
    letter-spacing: -1px;
  }

  .sec1 {
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
  }

  .pc_more,
  .sec1 br {
    display: none;
  }

  .sec1 .text_box h4 {
    font-weight: 600;
    margin-bottom: 15px;
  }
  .sec1 .text_box p {
    font-size: 16px;
    line-height: var(--xs-line-height);
    margin-bottom: 50px;
  }

  .sec1 .text_box h3 {
    margin-bottom: 15px;
  }

  .sec1_left_text {
    width: 100%;
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }

  /* 슬라이더 */
  .slide_wrap {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
  }

  .card {
    margin-right: 15px;
    margin-left: 15px;
  }

  .mobile_more {
    display: block;
    margin-top: 30px;
    padding: 12px 15px;
    box-sizing: border-box;
  }
  .slick-dots {
    bottom: -20px;
    margin: 0 auto;
  }

  /* ============섹션2======== */
  .sec2 {
    width: 100%;
  }
  .sec2_contents {
    width: 90%;
  }

  .sec2_img2 {
    width: calc((100% / 3) * 2);
  }

  /* 작은이미지 박스들 */

  .sec2_card {
    width: calc((100% - 15px) / 2);
  }

  .sec2_card > img {
    border-radius: 24px;
  }

  /* ================섹션3=========== */
  .sec3 {
    width: 100%;
  }

  /* sec3 메인 */
  .sec3_contents {
    width: 90%;
  }

  /* sec3 이미지 */
  .left_img {
    width: calc((100% - 10px) / 2);
    overflow: hidden;
  }

  .left_img img {
    width: 100%;
    height: 390px;
    object-fit: cover;
  }

  /* sec3 텍스트 */
  .right_text {
    width: calc((100% - 10px) / 2);
  }

  /* ===========베너1========= */

  .banner1 {
    width: 90%;
    margin: 0 auto;
  }

  .banner1_img {
    padding: 0 100px;
  }

  /* =============섹션4============ */
  .sec4 {
    width: 100%;
  }
  .sec4_contents {
    width: 90%;
  }

  .sec4_card_txt {
    padding: 10px 15px;
  }

  .sec4_card_txt h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 17px;
  }

  /* 푸터 */
  /* 🦶푸터 */
  footer {
    width: 90%;
    height: fit-content;
    gap: 15px;
  }

  footer img {
    height: 30px;
    opacity: 80%;
  }
  footer ul {
    display: flex;
    gap: 15px;
    font-size: 13px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1910px) {
  .header_contents {
    width: 100%;
    padding: 0 20px;
  }
  /* 섹션1 */
  .sec1 .text_box h3 {
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -2px;
  }
}
