@charset "utf-8";
@import url(../responsive/layout_rs.css);
@import url(../css/layout.css);

/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  #gnb {
    display: none;
  }

  #mobile_menu {
    display: block;
  }

  #hamburger-icon {
    display: block;
  }

  .header_contents {
    width: 100%;
    padding: 0 10px;
  }

  /* 메인비주얼 */

  .main_visual {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  section {
    padding: 50px 0;
  }

  /* sec1 */

  /* text */
  .sec1 {
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
  }
  .sec1_left_text {
    width: 90%;
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .sec1 .text_box h4,
  .sec1 .text_box p,
  .pc_title,
  .pc_more,
  br {
    display: none;
  }

  .mobile_title {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: antiquewhite;
  }

  /* 슬라이더 */
  .slide_wrap {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
  }

  .card {
    margin-right: 12px;
    margin-left: 15px;
  }

  .img_area {
    width: 288px;
    height: 200px;
  }

  .mobile_more {
    display: block;
    margin-top: 30px;
    padding: 12px 15px;
    box-sizing: border-box;
  }

  /* 섹션2 */
  /* 섹션 2,3 타이틀 */
  .sec_title {
    margin-bottom: 0px;
    width: 100%;
    background-color: aqua;
  }

  .sec_title h2 {
    font-size: 12px;
    font-weight: 600;
    line-height: var(--sm-line-height);
  }
  .sec_title h3 {
    font-size: 16px;
    line-height: 17px;
  }

  /* sec2 이미지 */

  .sec2_contents {
    width: 90%;
    margin: 0 auto;
  }

  .sec2_img {
    gap: 0px;
  }

  .sec2_img2 {
    width: 100%;
    height: fit-content;
  }

  /* 작은이미지 박스들 */

  .sec2_card {
    width: calc((100% - 15px) / 2);
    height: 60px;
    overflow: hidden;
  }

  .sec2_card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(78%);
    scale: 0.99;
    transition: 0.3s;
  }

  .sec2_card p {
    color: var(--default-wh);
    position: absolute;
    transform: translate(50%, -50%);
    font-size: 10px;
  }
  /* 혼자여행 */
  .solo_trip {
    display: none;
  }

  /* sec3 */
  .sec3 {
    padding-top: none;
  }

  .sec3_contents {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 50px; */
  }

  /* sec3 메인 */
  .sec3_main {
    display: flex;
    width: 100%;
  }

  /* sec3 이미지 */
  .left_img img {
    width: 50%;
    height: 380px;
    border-radius: 15px;
    transition: opacity 0.3s ease-in-out;
  }

  /* sec3 텍스트 */
  .right_text {
    width: 50%;
    height: fit-content;
    overflow: hidden;
    margin-left: 50px;
  }

  /* 리뷰섹션 */
  .sec3_button {
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    line-height: var(--xs-line-height);
    font-weight: 700;
    color: var(--main-color);
    border-radius: 17px;
    border: 1px solid var(--main-color);
    padding: 3px 24px;
    margin-bottom: 5px;
  }
  .review_card span {
    display: block;
    color: var(--main-color);
    font-size: 20px;
    line-height: var(--sm-line-height);
    margin-bottom: 20px;
  }

  .review_card h3 {
    font-size: 22px;
    line-height: var(--sm-line-height);
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--default-bk);
  }
  .review_card p {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 60px;
  }
  .review_card_content {
    padding: 10px;
  }
  /* 페이지 버튼 */
  .page_button {
    display: flex;
    gap: 15px;
    margin-bottom: 16px;
  }

  .page_button a {
    font-size: 16px;
    line-height: var(--xs-line-height);
    color: #d9d9d9;
    position: relative;
    text-decoration: none;
    padding: 2px 9px;
    border-radius: 50%;
    transition: 0.3s;
  }

  /* 선택된 페이지 버튼 스타일 */
  .page_button a.active {
    background-color: #ff7f00;
    color: white;
    font-weight: 700;
  }

  /* 리뷰 카드 */
  .review_card {
    display: none;
  }

  .review_card.active {
    display: block;
  }
  /* 리뷰이미지 */
  .reviewImage {
    display: none; /* 기본적으로 모든 이미지는 숨깁니다. */
  }

  .reviewImage.active {
    display: block; /* active 클래스가 있는 이미지만 보이게 합니다. */
  }

  /* 버튼 */
  .more {
    align-items: center;
    justify-content: space-between;
    width: 170px;
    padding: 12px 38px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: var(--xs-line-height);
    border-radius: 10px;
  }
  .more:hover {
    color: var(--default-wh);
    background-color: var(--main-color);
    transition: 0.3s;
  }
  .more_section {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .right_text .more {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  .banner1 {
    display: none;
  }
  .sec4 {
    display: none;
  }
  .sec5 {
    display: none;
  }

  footer {
    display: none;
  }
}
