@charset "utf-8";
@import url(../responsive/layout_rs.css);
@import url(../css/layout.css);

/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  #gnb {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .header_contents {
    width: 100%;
    padding: 0 10px;
  }

  /* π¦¶ν‘Έν„° */
  footer {
    width: 90%;
    height: fit-content;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    padding: 20px 0px;
    font-size: 15px;
    color: var(--default-gr);
    margin: 0 auto;
    border-top: none;
  }

  footer img {
    height: 30px;
    opacity: 80%;
  }
  footer ul {
    display: flex;
    gap: 10px;
    font-size: 11px;
    flex-wrap: wrap;
  }
  footer span {
    font-size: 10px;
  }
}
