@charset "utf-8";
@import url(../css/sub/trip_mate_layout.css);

/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* header */
  #gnb {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .header_contents {
    width: 100%;
    padding: 0 10px;
  }

  #menu-container > .menu-list {
    width: 80vw;
  }

  .menu-submenu li {
    font-size: 14px;
    padding-right: 3px;
    font-weight: 500;
  }

  /* mainvisual - sec1  */
  .sec1 {
    width: 100%;
    padding-top: 80px;
  }
  .main-visual {
    height: 150px;
    background: url(../img/trip_mate/main/main.jpg) center/cover no-repeat;
  }
  .main-visual h1 {
    font-size: 20px;
  }
  .main-visual p {
    font-size: 15px;
  }

  /* ν•„ν„°λ°•μ¤ */

  .mobile_hide {
    display: none;
  }
  .filter-box {
    width: 90%;
    overflow: hidden;
    height: 200px;
    padding: 0px;
  }

  .filter-container {
    gap: 14px;
    margin-left: 0;
    position: relative;
    width: 100%;
    justify-content: center;
  }
  .filter {
    padding: 5px 10px;
    position: static;
  }

  .filter-title {
    font-size: 14px;
  }

  .filter-options {
    top: 33px;
    width: 93%;
    height: 70px;
    flex-wrap: wrap;
    background-color: rgba(248, 247, 247, 0.9);
    z-index: 999;
    padding: 10px;
  }

  .list_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .filter-box .filter:nth-of-type(4) .filter-options,
  .filter-box .filter:nth-of-type(5) .filter-options,
  .filter-box .filter:nth-of-type(6) .filter-options {
    top: 77px;
  }

  .filter-options label {
    margin-right: 10px;
  }

  /* μΉ΄λ“μ„Ήμ… */
  .container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .content {
    gap: 30px;
  }

  .card {
    width: 100%;
    padding: 10px;
    gap: 8px;
  }

  .card:nth-child(5),
  .card:nth-child(6) {
    display: none;
  }

  .profile-pic,
  .profile-pic img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: left;
  }
  .card h4 {
    font-size: 13px;
  }
  .tags {
    display: none;
  }
  .apply-btn {
    padding: 5px 10px;
    font-size: 12px;
    margin-top: 10px;
  }

  .pagination {
    margin-top: 50px;
  }

  /* π¦¶ν‘Έν„° */
  footer {
    width: 100%;
  }

  .footer_con {
    width: 90%;
    height: fit-content;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    padding: 20px 0px;
    font-size: 15px;
    color: var(--default-gr);
    margin: 0 auto;
    border-top: none;
  }

  footer img {
    height: 30px;
    opacity: 80%;
  }
  footer ul {
    display: flex;
    gap: 10px;
    font-size: 11px;
    flex-wrap: wrap;
  }
  footer span {
    font-size: 10px;
  }
}
